dffsds# Compifled Object files
*.slosd
*.ldfo
*.so
fd
# Compisdfsdfsled Dynamic libraries
*.sosdf
*.dylibsdf
sdfsdfsdfsdf
# Compiled Static libraries
*.lai
*.lasdfsdf
*.a




Hey kitty
hats up sijdfjjs alkakls  jfjskldkfldsd
